<a href="/vessels">Click here for Vessels</a>

<h1><%= @company.name %></h1>
<p>TripAdvisor Rank: <%= @company.tripadvisor_rank %></p>
<p>Currently Offering Tours: <%= @company.offering_cruises %></p>
<p>Amount of Vessels: <%= @vessel_count %></p>